<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Departments</title>
  </head>
  <body style="margin: 20px;">
<h1>Department Information</h1>
 <h1>Using Function </h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p  }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
