<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Departments</title>
  </head>
  <body style="margin-top: 20px;">
    {% csrf_token %}
    <h1>Department Information</h1>
    <h1>Using function </h1>
    <a class="btn btn-sm" style="background-color:yellowgreen; color:lightyellow;" href = "{% url 'form' %}" >Add Department</a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Dept. Name</th>
            <th scope="col">Head of the Dept.</th>
            <th scope="col">Total students</th>
            <th scope="col">Total credits</th>
            <th>Update</th>
					  <th>Remove</th>
          </tr>
        </thead>
        <tbody>
            {% for dept in info %}
          <tr>
            <th scope="row">{{ dept.id }}</th>
            <td>{{ dept.name }}</td>
            <td>{{ dept.HoD }}</td>
            <td>{{ dept.total_student }}</td>
            <td>{{ dept.total_credit }}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'updateinfo' dept.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'deleteinfo' dept.id %}">Delete</a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>


