<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Departments</title>
  </head>    
    <body style="margin-top: 20px; margin-left: 10px;">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-2 col-form-label">Name : </label>
                <input type="text" name="name" value="{{ dept.name }}">
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-form-label">Head of the Department : </label>
                <input type="text"  name="HoD" value="{{ dept.HoD }}">
              </div>

              <div class="form-group">
                <label class="col-sm-2 col-form-label">Number of Students : </label>
                <input type="number" name="total_student" value="{{ dept.total_student }}">
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 col-form-label">Number of credits : </label>
                <input  type="number"  name="total_credit" value="{{ dept.total_credit }}">
              </div>

            
            <button type="submit" class="btn btn-primary">Save</button>
          </form>




    </body>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
